.dk-about {
  .carousel-item {
    background: none;
  }

  .carousel-inner {
    max-height: 645px;
    height: auto;
  }
}

.dk-about .slider-message {
  text-align: left;
}

.dk-about-text {
  width: 1200px;
  margin: auto;
}

.dk-about-text-image {
  display: flex;
  gap: 25px;
}

.dk-about-paragraph {
  margin-bottom: 20px;
  font-size: 24px;
  color: #aaaaaa;
}

.dk-about-image-part p {
  color: #aaaaaa;
  font-size: 11px;
  text-align: center;
}

.dk-about-image img {
  width: 300px;
  display: inline-block;
  margin-bottom: 5px;
  border: 5px solid #eee9eb;
  border-radius: 4px;
}

@media only screen and (max-width: 1250px) {
  .dk-about-text {
    width: 100%;
  }

  .slider-message p {
    font-family: "Oxanium", sans-serif;
    background-color: rgba(150, 150, 150, 0.7);
    padding: 0 45px;
    height: unset;
  }
}

@media only screen and (max-width: 930px) {
  .dk-about-text {
    width: 96%;
  }
}

@media only screen and (max-width: 750px) {
  .dk-about {
    text-align: unset;
  }
}

@media only screen and (max-width: 650px) {
  .dk-about-text-image {
    flex-direction: column-reverse;
    gap: 25px;
  }

  .dk-about-image-part p {
    font-size: 14px;
  }

  .dk-about-text {
    text-align: center;
  }
}

@media only screen and (max-width: 400px) {
  .slider-message {
    width: unset;
    right: 10%;
    width: 80%;
    text-align: center;
    bottom: 10px;
  }
  .slider-message p {
    font-size: 16px;
    padding: 5px;
    text-align: center !important;
    justify-content: center;
  }

  .slider-icons > div {
    width: 30px;
    height: 30px;
  }

  .carousel-control i {
    font-size: 30px;
  }
}

@media only screen and (max-width: 350px) {
  .dk-about-image img {
    width: 96%;
  }
}
