.dk-catalog-container {
  width: 1100px;
  margin: 0 auto;
}

.dk-catalog .dk-mafsal-title {
  font-family: "Oxanium", sans-serif;
}

.dk-catalog {
  .carousel-item:nth-of-type(1) {
    background-image: url(../assets/images/catalog/slider1.jpg);
  }

  .carousel-item:nth-of-type(2) {
    background-image: url(../assets/images/catalog/slider2.jpg);
  }

  .carousel-item:nth-of-type(3) {
    background-image: url(../assets/images/catalog/slider3.jpg);
  }
  .carousel-item:nth-of-type(4) {
    background-image: url(../assets/images/catalog/slider4.jpg);
  }
  .carousel-item:nth-of-type(5) {
    background-image: url(../assets/images/catalog/slider5.jpg);
  }
}

.dk-catalog-download-container {
  display: flex;
  justify-content: flex-start;
  gap: 100px;
  max-height: 200px;
  align-items: center;
  margin-left: 25px;
  margin-right: 25px;
  border-top: 1px dashed var(--main-gray);
  border-bottom: 1px dashed var(--main-gray);
  padding: 10px 0;
}

.dk-margin-bottom-50 {
  margin-bottom: 50px;
}

.dk-catalog-download-container h5 {
  width: 400px;
  color: var(--main-gray);
  font-weight: normal;
  font-size: 20px;
}

.dk-catalog-download-container a {
  color: var(--main-gray);
  font-size: 20px;
}

.dk-catalog-download-container img {
  max-height: 100px;
}

@media (max-width: 1100px) {
  .dk-catalog-container {
    width: 100%;
  }

  .dk-catalog-download-container {
    justify-content: space-between;
    gap: 25px;
  }

  .dk-catalog-download-container h5 {
    width: unset;
  }
}

@media (max-width: 500px) {
  .dk-catalog-container .dk-mafsal-title {
    width: 80%;
    margin: 0 auto 25px auto;
    justify-content: center;
  }
}

@media (max-width: 400px) {
  .dk-catalog-download-container {
    padding: 25px;
    max-height: unset;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
