.dk-mafsal .slider-message {
  text-align: left;
}

.dk-mafsal {
  .carousel-item:nth-of-type(1) {
    background-image: url(../assets/images/mafsal/slider1.jpg) !important;
  }

  .carousel-item:nth-of-type(2) {
    background-image: url(../assets/images/mafsal/slider2.jpg);
  }

  .carousel-item:nth-of-type(3) {
    background-image: url(../assets/images/mafsal/slider3.jpg);
  }

  .carousel-item:nth-of-type(4) {
    background-image: url(../assets/images/mafsal/slider4.jpg);
  }
  .carousel-item:nth-of-type(5) {
    background-image: url(../assets/images/mafsal/slider5.jpg);
  }
}

.dk-mafsal-container {
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.dk-mafsal-container .dk-mafsal-tabs {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 25px;
}

.dk-active-tab {
  border-bottom: 1px solid black;
}

/* Tabs */

.dk-mafsal-tab-content-container .dk-mafsal-content {
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.dk-mafsal-tab-content-container .dk-mafsal-content.active {
  display: block;
  opacity: 1;
}

.dk-mafsal-tab {
  list-style-type: none;
  display: inline-block;
  cursor: pointer;
  font-size: 24px;
  color: var(--main-gray);
  padding: 5px 15px;
  transition: background-color 0.3s ease, border-top 0.3s ease,
    font-weight 0.3s ease;
}

.dk-mafsal-content-paragraph {
  margin-bottom: 20px;
  font-size: 24px;
  color: #aaaaaa;
}

.dk-mafsal-title {
  padding: 5px 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  background-color: var(--main-blue);
  font-size: 24px;
  font-weight: bold;
  color: white;
  width: 40%;
  margin-bottom: 25px;
}

.dk-mafsal-tab2-image-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.dk-mafsal-tab2-image {
  border: 1px solid black;
  border-radius: 25px;
  overflow: hidden;
  padding: 25px;
  margin-bottom: 25px;
}

.dk-mafsal-tab2-image img {
  width: 100%;
}

.dk-mafsal-montaj-image-container {
  display: flex;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 16px;
  padding: 16px;
  margin-bottom: 25px;
}

.dk-montaj-tipi-each {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: space-between;
  align-items: center;
  min-width: 150px;
}

.dk-montaj-tipi-each {
  max-width: 15%;
}

.dk-montaj-tipi-image {
  text-align: center;
}

.dk-montaj-tipi-image img {
  width: 140px;
  height: 125px;
}

.dk-montaj-tipi-text {
  font-size: 22px;
  color: var(--main-gray);
  font-family: "Noto Sans", sans-serif;
  text-align: center;
  width: 80%;
}

/* Tab 3 */
.dk-tab3 {
  font-size: 24px;
  color: #aaaaaa;
}

.dk-mafsal-tab3-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}
.dk-mafsal-tab3-paragraph {
  margin: 15px 0;
}

.dk-mafsal-tab3-list-element {
  list-style-type: none;
  margin-bottom: 10px;
}

.dk-mafsal-tab3-list-element-style {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-blue);
  text-align: center;
  color: white;
  border-radius: 25px;
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

@media only screen and (max-width: 1200px) {
  .dk-mafsal-container {
    width: 96%;
  }

  .dk-mafsal-tabs {
    text-align: center;
  }

  .dk-mafsal-tab3-image {
    max-width: 100%;
  }

  .dk-mafsal-tab3-image img {
    max-width: 100%;
  }

  .dk-mafsal-content-paragraph {
    font-size: 18px;
  }
}

@media only screen and (max-width: 450px) {
  .dk-mafsal-content {
    text-align: center;
  }
  .dk-mafsal-tab {
    font-size: 16px;
    padding: 5px;
  }

  .dk-mafsal-title {
    font-size: 16px;
    width: 100%;
    margin-bottom: 15px;
  }

  .dk-mafsal-tab2-image-container {
    width: 100%;
    flex-direction: column;
  }

  .dk-mafsal-tab3-list-element-style {
    width: 25px;
    height: 25px;
    font-size: 18px;
  }

  .dk-tab3 {
    text-align: left;
    font-size: 18px;
    color: #aaaaaa;
  }

  .dk-mafsal-tab3-paragraph {
    text-align: center;
  }

  .dk-mafsal-montaj-image-container {
    justify-content: center;
    width: 90%;
    margin: 0 auto 25px auto;
  }
}
