@import url(settings.css);
@import url(homepage.css);
@import url(about.css);
@import url(history.css);
@import url(quality.css);
@import url(worldWide.css);
@import url(mafsalIstavrozlar.css);
@import url(kardanmiller.css);
@import url(traktor.css);
@import url(hotCold.css);
@import url(catalog.css);
@import url(contact.css);

*,
div,
ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
