.dk-quality .slider-message {
  text-align: left;
}

.dk-quality-text {
  width: 1200px;
  max-width: 96%;
  margin: auto;
}

.dk-quality-paragraph {
  margin-bottom: 20px;
  font-size: 24px;
  color: #aaaaaa;
}
